// Bakgrundsfärger
$primary-color: rgb(172, 190, 172);
$lighten-color: lighten($primary-color, 10%);
$light-footer-color: darken($primary-color, 10%);
$darken-color: darken($primary-color, 60%);
$secondary-color: darken($primary-color, 50%);
$dark-footer-color: darken($primary-color, 65%);

// Textfärger
$dark-font-color: black;
$light-font-color: white;